/* @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'jost',sans-serif;
    background: linear-gradient(to bottom,#0f0c29,#302b63,#24243e);
}
.main{
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("C:\Users\Supercomputers\Desktop\k.jpg") no-repeat /cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;

}
#chk{
    display: none;
}
.signup{
    position: relative;
    width: 100%;
    height: 100%;

}
label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 20px;
    background:#e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    width: 60%;
    height: 40px;
    margin: 10px;
    justify-content: center;
    display: block;
    color: #fff;
    background-color: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor:pointer

}
button{
    background: #6e31e0;
}
.login{
    height: 460px;
    background:#eee ;
    border-radius: 60% / 10%;
    transform:translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #573b8a;
}
#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~.login label{
    transform: scale(1);
}   
#chk:checked ~ .signup label{
   transform: scale(.6);
} */
*{
    margin:0;
    padding:0;

 }
 
 .hero{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    background: url(img5.jpeg) no-repeat; 


 }
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin:6% auto;
    background: #fff;
    padding:5px;
    overflow: hidden;
}
.button-box
{
    width: 220px;
    margin:35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgb(95, 201, 250);
    border-radius: 30px;}
    .tpp-center1{
        padding: 10px 30px;
        cursor: pointer;
        background: transparent;
        border:0;
        outline:none;
    }
 #btn{
    top:0;
    left:0;
    position: relative;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#7bc4ee,#ffffff,rgb(143, 219, 233));    
    border-radius: 30px;
    transition: .5s;
}
.toggle-btn{
    text-align: center;
    padding: 10px 91px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: transparent;
    border:0;
    outline: none;
    position: relative;
}
#btn{
    top:0;
    left:53px;
    position: absolute;
    width: 110px;
    height:100%;
    border-radius: 30px;
    transition: .2s;
}
.input-group{
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding:10px 0;
    margin:5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(60, 212, 174);
    outline: none;
    background:transparent;

}.submit-btn{
    width: 85%;
padding: 10px 30px;
cursor: pointer;
display: block;
margin-top: 50px;
margin-left: 30px   ;
background: linear-gradient(to right,rgb(132, 183, 218),#f8f8f8,rgb(105, 205, 212));
border: 0;
outline: none;
border-radius: 30px;
}
.chec-box{
    margin: 30px 10px 30px 0;
}
span{
    color:#777;
    font-size: 12px;
    bottom:68px;
    position:absolute;
}
#login{
     left:50px;
}
#register{
    left:450px;
}
.in-group{
    top:180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.in-field{
    width: 100%;
    padding:10px 0;
    margin:5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(60, 212, 174);
    outline: none;
    background:transparent;

}.sub-btn{
    width: 85%;
padding: 10px 30px;
cursor: pointer;
display: block;
margin-top: 50px;
margin-left: 30px   ;
background: linear-gradient(to right,rgb(132, 183, 218),#f8f8f8,rgb(105, 205, 212));
border: 0;
outline: none;
border-radius: 30px;
}
.rg{
    margin-left: 30px;
     margin-top: 20px; 
    padding:20 px;

}
.rg a{
    text-decoration: none;
    color:  blue;
}
